@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*, *:after, *:before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.encabezado{
  text-align: center;
  padding: 20px 0;
  background: #f3f3f3;
}

.galeria{
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
}

.columna{
  flex: 33%;
  max-width: 33.33%;
  padding: 0 4px;
}

.columna img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(100%);
  transition: all .3s ease;
}

.columna img:hover{
  cursor: pointer;
  filter: grayscale(0%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease;
  visibility: hidden;
  opacity: 0;
}

.overlay .slideshow{
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  position: relative;
  display: flex;
  justify-content: center;
}

.slideshow img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn-cerrar{
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: all 0.2s ease;
}

.btn-cerrar:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.botones{
  height: 70px;
  width: 70px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgb(240, 106, 45);
}

.atras{
  left: 20px;
}

.adelante{
  right: 20px;
}

.botones:hover > i{
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.mdil{
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  .columna{
    flex: 50%;
    max-width: 50%;
  }

  .botones{
    font-size: 55px;
  }

  .atras{
    left: 5px;
  }

  .adelante{
    right: 5px;
  }

  .slideshow img{
    width: 98%;
  }
}

@media screen and (max-width: 600px){
  .columna{
    flex: 100%;
    max-width: 100%;
  }
}